/*------------------------------------|
|	Grid                                |
|------------------------------------*/

.grid-container {
  list-style-type: none;
  text-align: center;
  @include clearfix;
  z-index: 2;
  &:after {
    display: none;
  }
}

.grid-full {
  @include column-full;
}

.grid-quarter {
  @include column-quarter;
}

.grid-half {
  @include column-half;
}

.grid-third {
  @include column-third;
}

.grid-two-third {
  @include column-two-third;
}

.grid-third--nopad {
  @include column-third-nopad;
}

.grid-three-quarter {
  @include column-three-quarter;
}

.grid-fifth {
  @include column-fifth;
}

.grid-sixth {
  @include column-sixth;
}

.grid-item, .grid-item--nopad {
  display: inline;
  overflow: hidden;
  font-size: 0;
}


.grid-item__inner {
  font-size: initial;
  vertical-align: top;
  position: relative;
  text-align: left;
  @include mediaMin($break-col-quarter-2) {
    height: 278px;
  }
  @include mediaMin($max_width) {
  //  height: 368px;
  }
}

.grid-noheight .grid-item__inner {
  overflow: visible;
}

@include mediaMin($break-col-quarter-2) {
}

/* Grid Height Variants */
@include mediaMin($break-col-half-2) {
  // .grid-double-height .grid-item__inner {
  //   height: 571px;
  // }
  // .grid--tall .grid-item__inner {
  //   height: 327px;
  // }
}

@include mediaMin($break-col-quarter-4) {
  // .grid--cta .grid-item__inner {
  //   height: 485px;
  // }
}

@include mediaMin($max_width) {
  // .grid-double-height .grid-item__inner {
  //   height: 751px;
  // }

  // .grid--tall .grid-item__inner {
  //   height: 394px;
  // }
  // .grid-nogrow .grid-item__inner {
  //   height: 278px;
  // }
  // .grid-noheight .grid-item__inner {
  //   height: auto;
  // }
  // .grid--archive-cta .grid-item__inner {
  //   height: auto;
  // }
}


/* Width Overrides */
.grid-third--expand .grid-item__inner {
  @include mediaMax($bp-tablet) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}

/* Float Overrides */
.is-floated-right .grid-item__inner {
  @include mediaMin($break-col-half-2) {
    float: right;
  }
}

.is-floated-left .grid-item__inner {
  @include mediaMin($break-col-half-2) {
    float: left;
  }
}

