/*------------------------------------|
|	Buttons                             |
|------------------------------------*/


// Module Styling
.btn {
  pointer: cursor;
}

.btn--light {

}
.btn--dark {

}


.btn--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}


// Module States
.btn.is-active {

}
